*{padding: 0;
    margin: 0;
}
#bill:focus,#people:focus{
  
    border: 3.5px solid hsl(180, 100%, 50%);
    background-color:white;
    color: hsl(183, 100%, 15%);
    opacity: 100%;
    
}
#bill:hover,#people:hover{
    border: 3px solid hsl(180, 100%, 50%);
    background-color: white;
}
.button5:hover,#reset:hover,.custom:hover,.button1:hover,.button2:hover,.button3:hover,.button4:hover{
    background-color: hsl(180, 100%, 50%);
    color:hsl(183, 100%, 15%);}

#people[type=number]::-webkit-inner-spin-button,
#people[type=number]::-webkit-outer-spin-button {
    -webkit-apperance:none ;
    -moz-appearance: none;
     margin: 0;}

.button1:focus,.button2:focus,.button3:focus,.button4:focus,.button5:focus,#reset:focus{
    background-color: hsl(180, 100%, 50%);
    opacity: 100%;
    color: hsl(183, 100%, 15%);
    border: none;
    display: block;                   
}
.custom:focus{
    background-color:hsl(183, 100%, 15%);
    color: rgba(255, 255, 255, 0.736);
    border: none;
}

body{
    
    background-color:hsl(185, 41%, 84%);
    width: fit-content;
    display: block;
    height: fit-content;
font-Weight: 500;

Font-size: 24px;
font-family:'Space Mono', monospace;
padding: 20px
;}
.container{
background-color:white;
width: 900px;
display: block;
height: 500px;
border: none;
margin:0 auto;
border-radius: 20px;
padding: 20px;}   
                          
.container-bill{
height: 500px;

border: none;
margin: 0 auto;
width: 400px;
padding: 5px;
border-radius: 20px;
display:inline-block;  
position: relative;}

   
#people  {


    position: relative;
    height: 40px;
    width: 330px;
    font-weight: 900;
    font-size: 24px;
    text-align: end;
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
                background-color:hsla(180, 15%, 78%, 0.423) ;
                border: none;
                outline: none;  
          
          
    }  
#bill{
position: relative;
height: 40px;
font-weight: 900;
font-size: 24px;
text-align: end;
color: hsl(183, 100%, 15%);
border-radius: 5px;
            width: 330px;
            margin-top: 10px;
            background-color:hsla(180, 15%, 78%, 0.423) ;
            border: none;
            outline: none;  
      
      
}
          
    
h1{
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
    opacity: 90%;
    color: hsl(183, 100%, 15%);
    font-size: 30px;
}
.img{
    position: absolute;
    margin-top: 12px;
    opacity: 50%;
    left:15px;
}
.img2{position: absolute;
left:275px;
font-weight: 900;
font-size: 22px;
margin-top: 8px;
opacity: 30%;}

.design{
position: absolute;
margin-top:18px;
left: 29px;
opacity: 50%;
}
.design2{
position: absolute;
left: 290px;
margin-top: 18px;
opacity: 40%;
}


.bill-style2{
margin-top: 50px;
margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    opacity: 80%;
    color:  hsl(183, 100%, 15%);
    font-size:20px ;
}

.bill{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 900;
    opacity: 90%;
    color:  hsl(183, 100%, 15%);
}

.button1, .button2{
margin: 4px;
float: left;
width: 100px;
position: relative;
margin-left: 10px;
height: 40px;
font-size: 22px;
font-weight: 900;
font-family: 'Space Mono', monospace;
background:hsl(183, 100%, 15%);
color: rgba(255, 255, 255, 0.736);
border: none;
border-radius: 5px;

}
.button3{margin: 4px;
width: 100px;
float: left;
margin-left: 10px;
height:40px;
font-size: 22px;
font-weight: 900;
font-family: 'Space Mono', monospace;
background:hsl(183, 100%, 15%);
color: rgba(255, 255, 255, 0.736); 
border: none;
border-radius: 5px;

}
.button4,.button5,.custom{
margin: 4px;
      margin-left: 10px;            
width: 100px;
float: left;
height: 40px;
font-size: 22px;
font-weight: 900;
font-family: 'Space Mono', monospace;
background:hsl(183, 100%, 15%);
color:rgba(255, 255, 255, 0.736);
border: none;
border-radius: 5px;}

.custom{
background-color:hsl(183, 100%, 15%) ;

color:hsl(183, 100%, 15%);
font-size: 20px;
opacity: 70%;
font-weight: 600;
text-transform: capitalize;}

.container-button-2{
margin-left: 10px;
    position: relative;
    margin-top: 150px;}
    
.y{
 color:  hsl(183, 100%, 15%);
font-size: 20px;
margin-bottom: 10px;
font-weight: 900;
opacity: 90%;
}
.container-bill-2{
    border: none; 
margin: 0 auto; 
height: 370px;
background:hsl(183, 100%, 15%);
color: white;
position:relative;
bottom:455px;
left:230px; 
text-align: center;
width: 350px;
border-radius: 20px;


}
.tip-amount{
    margin-left: 260px;
    display: block;
    font-size: 25px;
    left: -30px;
    font-weight: 900;
position: absolute;
margin-top: 170px;
    color:hsl(180, 100%, 50%);
}

.span2{
   
    display: block;
    font-size: 25px;
    font-weight: 900;
position: absolute;
left: 230px;
margin-top: 80px;
    color:hsl(180, 100%, 50%);

}
.t1{position: absolute;
top:170px;
   left:25px;
   opacity: 80%;
    font-size: 17px;
    

}
.t2{position: absolute;
   top:80px;
   left:24px;
   opacity: 80%;
font-size: 17px;
}

.person1{
    position: absolute;
    margin-top: 190px;
    left:20px;
    font-size: 18px;
    font-weight: 400;
    opacity: 30%;
    
}
.person2{
    position: absolute;
font-size: 18px;
font-weight: 400;
left:23px;
margin-top: 100px;
opacity: 30%;
}
.tip-reset-btn{
    position: absolute;
    width:280px;
    font-weight: bold;

    height: 45px;
    background-color:hsl(183, 47%, 34%); 
    border: none;
    border-radius: 5px;
   left:38px;
   margin-top:250px;
    font-size: 15px;
    opacity: 10%;
    }
.a{
    margin: 3px;
}


@media all and (max-width:500px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin:0 ;
    }
    
    .button1:focus,.button2:focus,.button3:focus,.button4:focus,.tip-reset-btn:focus,.button5:focus,.custom:focus{
        background-color: hsl(180, 100%, 50%);
        opacity: 100%;
        color: hsl(183, 100%, 15%);
        border: none;
    }
    .button5:hover,.tip-reset-btn:hover,.custom:hover,.button1:hover,.button2:hover,.button3:hover,.button4:hover{
        background-color: hsl(180, 100%, 50%);
        display: block !important;
        color:hsl(183, 100%, 15%);
        pointer-events: all !important;
    }

    body{
   height:900px;  
   width: fit-content;
background-color:hsl(185, 41%, 84%);
  font-Weight: 500;
Font-size: 24px;
font-family:'Space Mono', monospace;}


.container{
background-color:white;
width: 350px;
position: relative;               
height: 800px;
border: none;
padding-left: 9px;
padding-top: 20px;
border-radius: 20px;
}
.container-bill{
    width: 320px;
    height: 450px;
}
#bill{  
  position: relative;
height: 40px;
top: 5px;
left:9px;
font-weight: 900;
font-size: 24px;
text-align: end;
color: hsl(183, 100%, 15%);
border-radius: 5px;
            width: 282px;
            margin: auto;
            background-color:hsla(180, 15%, 78%, 0.423) ;
            border: none;
            outline: none;   
                  
}
.y{
    position: relative;
margin-left: -7px;
width:300px;
}


h1{margin-bottom: 18px;
    font-weight: 900;
    text-align: center;
    opacity: 80%;
    color: hsl(183, 100%, 15%);
    font-size: 25px;

}
#people{
     position:relative;
height: 40px;

width: 282px;
outline: none;
text-align: end;
font-weight: 900;
left:-2px;
font-size: 24px;
color:hsl(183,100%,15%);
border-radius: 5px;
 background-color:hsla(180, 15%, 78%, 0.423) ;
}

.container-bill-2{
    border: none;
margin: 0 auto; 
height: 280px;
background:hsl(183, 100%, 15%);
color: white;
position: relative;
top:30px;
left:2px;
text-align: center;
width: 280px;
border-radius: 15px;}

.bill-style2{
    margin-left: 5px;
    margin-bottom: 6px;
    margin-top: 20px;
}
.bill{
    margin-left: 5px;
    font-size: 20px;

opacity: 70%;
color: hsl(183, 100%, 15%);}


.bill-style2,.container-button-2{
    font-weight: bolder;
    opacity: 70%;
    color:  hsl(183, 100%, 15%);
    font-size:20px ;
}
.button1{

    left:10px;
    width: 130px;
    top:180px;
position: absolute;
align-content: center;
flex-wrap: wrap;
justify-content: center;
   position: absolute;
    font-family: 'Space Mono', monospace;
    background:hsl(183, 100%, 15%);
    color: rgba(255, 255, 255, 0.736);
    
    
    }
.button2{
    left:160px;
width: 130px;
top:180px;
position: absolute;
align-content: center;
flex-wrap: wrap;
justify-content: center;
font-family: 'Space Mono', monospace;
background:hsl(183, 100%, 15%);
color: rgba(255, 255, 255, 0.736);


}
.button3{
    left:10px;
    top:240px;
    width: 130px;

position: absolute;
align-content: center;
flex-wrap: wrap;
justify-content: center;
    position: absolute;
    font-family: 'Space Mono', monospace;
    background:hsl(183, 100%, 15%);
    color: rgba(255, 255, 255, 0.736); 
   

}
.button4{
    left:160px;
    top:240px;
    width: 130px;
position: absolute;
align-content: center;
flex-wrap: wrap;
justify-content: center;
position: absolute;
font-family: 'Space Mono', monospace;
background:hsl(183, 100%, 15%);
color: rgba(255, 255, 255, 0.736); 


}
.button5{
   top:300px; 
   left:10px ;
   width: 130px;
    position: absolute;
    align-content: center;
    flex-wrap: wrap;

    justify-content: center;
position: absolute;
font-family: 'Space Mono', monospace;
background:hsl(183, 100%, 15%);
color:rgba(255, 255, 255, 0.736);
}


.custom{
width: 130px;
    left:160px;
    top:300px;
    opacity: 100%;
position: absolute;
align-content: center;
flex-wrap: wrap;
justify-content: center;
background-color:hsl(183, 100%, 15%);
position: absolute;
}

.container-button-2{
    
    position: relative;
    padding: 10px;
    box-sizing: content-box;
    right: 25px;
    
    height: 66px;
    width: 282px;
    padding-left: 30px;
  top: 40px;
    }

    .img{
        position: absolute;
        margin-top:8px;
        left:43px;
    }
    .img2{position: absolute;
    left:268px;
margin-top: 8px;
opacity: 50%;}

.design{
    position: absolute;
    margin-top:12px;
    left: 35px;
    opacity: 50%;
}
.design2{
    position: absolute;
    left: 260px;
    margin-top: 12px;
    opacity: 40%;
}

.t1{position: absolute;
    left:15px;
    font-size: 25px;
    margin-top:-40px;
    font-size: 20px;
    

}
.t2{position: absolute;
    left: 15px;
    margin-top: -25px;
font-size: 20px;
}

.tip-amount{
    position: absolute;
    left:-70px;
    font-size: 25px;
    margin-top: 140px;
     color:hsl(180, 100%, 50%);}
.person1{
    position: absolute;
    margin-top: 150px;
    left: 20px;
    font-size: 18px;
    font-weight: 400;
    opacity: 30%;
    
}.person2{
    position: absolute;
margin-top: 80px;
left: 19px;
font-size: 18px;
font-weight: 400;
opacity: 30%;
}
.span2{
    margin-top: 60px; 
    font-size: 25px;
    position: absolute;
    left:190px;
    color:hsl(180, 100%, 50%);

}

.tip-reset-btn{
    position: absolute;
    width:250px;
    height: 50px;
    background-color:hsl(183, 47%, 34%); 
    border: none;
    outline: none;
    border-radius: 5px;
   left:20px;
   margin-top: 200px;
    font-size: 15px;
    opacity: 10%;}

.a{margin: 3px;
}}